<div id="pricing" class="container-fluid table-responsive" style="background-color: white;">
    <h2 class="text-center">Pricing and Duration</h2>

    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a data-toggle="tab" href="#home">STC</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu1">Metro Mass</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu2">Aayalolo</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <table class="table x table-hover text-center">
                <h4 class="text-center">STC Buses</h4>
                <thead>
                    <tr>
                        <th class="text-center">From</th>
                        <th class="text-center">To</th>
                        <th class="text-center">Price/GHC</th>
                        <th class="text-center">Duration/hrs</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < prices.length; i++){ %>
                        <tr>
                            <td><%= prices[i].d_from %></td>
                            <td><%= prices[i].d_to %></td>
                            <td><%= prices[i].d_price %></td>
                            <td><%= prices[i].journeyhrs %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
            <table class="table x table-hover text-center">
                <h4 class="text-center">Metro Mass Buses</h4>
                <thead>
                    <tr>
                        <th class="text-center">From</th>
                        <th class="text-center">To</th>
                        <th class="text-center">Price/GHC</th>
                        <th class="text-center">Duration/hrs</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < prices.length; i++){ %>
                        <tr>
                            <td><%= prices[i].d_from %></td>
                            <td><%= prices[i].d_to %></td>
                            <td><%= prices[i].d_price %></td>
                            <td><%= prices[i].journeyhrs %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            <table class="table x table-hover text-center">
                <h4 class="text-center">Aayalolo Buses</h4>
                <thead>
                    <tr>
                        <th class="text-center">From</th>
                        <th class="text-center">To</th>
                        <th class="text-center">Price/GHC</th>
                        <th class="text-center">Duration/hrs</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < prices.length; i++){ %>
                        <tr>
                            <td><%= prices[i].d_from %></td>
                            <td><%= prices[i].d_to %></td>
                            <td><%= prices[i].d_price %></td>
                            <td><%= prices[i].journeyhrs %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>