<script type="text/javascript" src="/public/js/site.js"></script>
<div class="container">
    <!--modal-->
        <% for (var i = 0; i < buses.length; i++){ %>
            <div class="modal fade" id="ticket" role="dialog">
                <div class="modal-dialog">
                    <!--modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color:brown;">Ticket</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;border-bottom: 3px solid;">
    
                                    <h3>
                                        <span class="bus"></span>
                                    </h3>
                                    <div class="col-xs-4">
                                        <h4>From</h4>
                                        <p>
                                            <span class="initial"><%=details.d_from %></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="price">GHS <%=buses[i].amount %></h4>
                                        <h4 class="glyphicon glyphicon-arrow-right"></h4>
                                        <h4 class="duration"><%=details.journeyhrs %></h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4>To</h4>
                                        <p>
                                            <span class="final"><%=details.d_to %></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;border-bottom: 3px solid;">
                                    <div class="col-xs-4">
                                        <h4>Departure</h4>
                                        <p>
                                            <span class="departure"><%=buses[i].depart_date %></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3 class="glyphicon glyphicon-calendar"></h3>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4>Time</h4>
                                        <p>
                                            <span class="time"><%=buses[i].depart_time %></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;">
                                    <h3>Details</h3>
                                    <div class="col-xs-6">
                                        <h4 class="busnumber">Bus No.</h4>
                                        <h4 class="location">Location</h4>
                                        <h4 class="seatnumber">Seat</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4>GT 4545 18</h4>
                                        <h4>Neoplan station</h4>
                                        <h4>30</h4>
                                    </div>
                                </div>
                                <div id="selector" class="row text-center" style="width: 20%; margin: auto;box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;">
                                   <!--QrCode goes here-->
                                </div>
                                <div class="text-center">
                                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                                    <button class="btn " type="button" onClick="payWithRave()">Pay Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</div>
<!--login hide div ends here-->
<script>
    //Rave Pay
var API_publicKey = "FLWPUBK_TEST-abdf93acc2ba3a7b94fa44ad0d8ec0cf-X";

function payWithRave() {
    var x = getpaidSetup({
        PBFPubKey: API_publicKey,
        customer_email: "user@example.com",
        amount: 2000,
        customer_phone: "234099940409",
        currency: "GHS",
        txref: "rave-123456",
        meta: [{
            metaname: "flightID",
            metavalue: "AP1234"
        }],
        onclose: function() {},
        callback: function(response) {
            var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
            console.log("This is the response returned after a charge", response);
            if (
                response.tx.chargeResponseCode == "00" ||
                response.tx.chargeResponseCode == "0"
            ) {
                // redirect to a success page
            } else {
                // redirect to a failure page.
            }

            x.close(); // use this to close the modal immediately after payment.
        }
    });
}
//Rave Pay
</script>