<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/public/js/jquery-3.2.0.min.js"></script>
    </head>
    <% include partials/dashboard-head.ejs %>
    <% include partials/confirm.ejs %>
    <% include partials/ticket.ejs %>
   

        <body>
            <div id="page">
                <div id="main">
                    <div class="container-fluid" >
                        <div class="row">
                            <% include layouts/dashboard-header.ejs %>
                            <div class="col-sm-3" style="padding-left:0px">
                                    <div id="mySidenav">
                                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                        <div class="header">
                                            <img src="\public\img\avatar.png" class="img-circle" alt="User image" width="150" height="150">
                                            <h3>Welcome</h3>
                                            <h4><%=user.firstname %></h4>
                                            <a style="width:50%;margin:auto;margin-bottom:10px;" class="btn btn-default btn-success btn-block btn-sm" href="/booking">Book ticket</a>
                                        </div>
                                        
                                        <ul class="nav">
                                            <li>
                                                <a href="/dashboard">
                                                        <i class="glyphicon glyphicon-home"></i>
                                                        Dashboard
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/history">
                                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                                    Tickets
                                                </a>
            
                                            </li>
                                            <li>
                                                <a href="/profile"> 
                                                        <i class="glyphicon glyphicon-user"></i>
                                                        Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                        <i class="glyphicon glyphicon-comment"></i>
                                                        Help
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact"> 
                                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                                        Contact us
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index">
                                                        <i class="glyphicon glyphicon-log-out"></i>
                                                        Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-sm-6" style="margin-top:10px;">
                                    <div id="">
                                        <div class="container_fluid">
                                            <h2 style="text-align: center">BOOK YOUR TICKET</h2>
                                            <hr>
                                            <h3 style="text-align: center">Choose any bus</h3>
                                            <h4 style="text-align: center"><%=details.d_from %> to <%=details.d_to %></h4>
                                            <hr>
                                            
                                            <% if (buses !== ""){ %>
                                            <% for (var i = 0; i < buses.length; i++){ %>    
                                                <div class="card" style="width:100%;margin:auto">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <img class="img-responsive" src="<%=details.image %>" alt="Company logo">
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="card-body text-center">
                                                                    <p style="display: none;"class="busno"><%=buses[i].bus_id %></p>
                                                                    <p>Price: GH₵ <span  class="amount"><%=buses[i].amount %></span></p>
                                                                    <p>Duration: <span class="duration"><%=details.journeyhrs %></span></p>
                                                                    <p>Seatsleft: <span  class="seatleft"><%=buses[i].seat_left %></span></p>
                                                                    <p>Departure date: <span class="departdate"><%=buses[i].depart_date %></span></p>
                                                                    <p>Departure time: <span  class="departtime"><%=buses[i].depart_time %></span> </p>
                                                                    <a href="/ticketA" class="btn btn-primary btn-sm stretched-link" >Preview ticket</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <img class="img-responsive" src="<%=details.image %>" alt="Company logo">
                                                            </div>
                                                            <p style="display: none;"class="detailsfrom"><%=details.d_from %></p>
                                                            <p style="display: none;"class="detailsto"><%=details.d_to %></p>
                                                            <p style="display: none;"class="detailscompanyid"><%=detailscompany.id %></p>
                                                            <p style="display: none;"class="detailscompanyname"><%=detailscompany.name %></p>
                                                            <p style="display: none;"class="detailscompanylocation"><%=detailscompany.location %></p>
                                                            
                                                        </div>
                                                    </div>
                                                <hr>
                                            <% } %>
                                            
                                            <% }else{ %>
                                                <div class="alert alert-danger alert-dismissible fade in">
                                                    <strong>Network error! </strong>  refresh page
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding:20px">
                                        <h3>Blog,news and updates</h3>
                                        <div class="row" style="padding:20px">
                                                <h3>Blog</h3>
                                                <p class="sched-time">
                                                  <span><span class="glyphicon glyphicon-calendar"></span> April 22, 2018</span> <br>
                                                </p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                                                
                                                <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                                        </div>
                                        <div class="row" style="padding:20px">
                                                <h3>Promotions</h3>
                                                <p class="sched-time">
                                                  <span><span class="glyphicon glyphicon-calendar"></span> April 22, 2018</span> <br>
                                                </p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                                                
                                                <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                                        </div>
                                        <div class="row" style="padding:20px">
                                                <h3>News</h3>
                                                <p class="sched-time">
                                                  <span><span class="glyphicon glyphicon-calendar"></span> April 22, 2018</span> <br>
                                                </p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                                                
                                                <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                                        </div>
                                    </div>

                        </div>

                        <% include partials/pricing.ejs %>

                        
                    </div>
                    
                    <% include layouts/footer.ejs %>
                </div>
                <script>
                    $('.card').on('click',function(){
                        var card = $(this);
                        var amount = card.find('.amount').text();
                        var duration = card.find('.duration').text();
                        var seatleft = card.find('.seatleft').text();
                        var busno = card.find('.busno').text();
                        var departdate = card.find('.departdate').text();
                        var departtime = card.find('.departtime').text();
                        var detailsfrom = card.find('.detailsfrom').text();
                        var detailsto = card.find('.detailsto').text();
                        var detailscompanyid = card.find('.detailscompanyid').text();
                        var detailscompanyname = card.find('.detailscompanyname').text();
                        var detailscompanylocation = card.find('.detailscompanylocation').text();
                        var datatosend = {
                            amount: amount,
                             duration:duration,
                             seatleft:seatleft,
                             departdate:departdate,
                             departtime:departtime,
                             detailsfrom :detailsto,
                             detailsto : detailsto,
                             busno : busno,
                             detailscompanyid:detailscompanyid,
                             detailscompanyname:detailscompanyname,
                             detailscompanylocation:detailscompanylocation
                            };
                        $.post('/destinationdetails',datatosend,function(data){
                        })
                    })
                </script>
        </body>

</html>