<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div id="logmain">
                        <div class="login">
                                <div class="logpage" >
                                    <form id="confirmform">
                                        <div class="modal-body">
                                            <legend class="text-center">Confirm Payment Details</legend>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="First & Last name">Firstname</label>
                                                        <input type="text" title="FirstName" name="firstname" id="firstname" class="form-control" placeholder="Firstname" value="<%=payment.firstname %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="First & Last name">Lastname</label>
                                                        <input type="text" title="LastName" name="lastname" id="lastname" class="form-control" placeholder="Lastname" value="<%=payment.lastname %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="Contact number">Contact number</label>
                                                        <input type="tel" title="Mobile Number" name="extra_mobile" id="number" class="form-control" maxlength="10" value="<%=payment.mobile %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="Email">Email</label>
                                                        <input type="email" name="email" id="email" class="form-control" value="<%=payment.email %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="Amount">Amount(GH₵)</label>
                                                        <input type="text" name="total" class="form-control" id="total" value="<%=payment.totalamount %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <div class="form-group">
                                                        <label for="Description">Description of Payment</label>
                                                        <input class="form-control" type="text" name="description" id="description" value="<%=payment.description %>" required disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                                                    <button class="btn btn-primary btn-block"  style="padding: 8px 11px;" type="button" onclick="payWithRave()"><strong>Pay Now</strong></button>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg text-center">
                                                    <a class="btn btn-danger btn-block" href="/pay"><strong>Cancel</strong></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            
                        </div>        
        </div>
        
    </body>
<!--site javascript included-->
<script src="/public/js/jquery-3.2.0.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- Main JS-->
<script type="text/javascript" src="/public/js/site.js"></script>
</html>
