<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div id="ticketmain">
            <div class="ticketsub">
                <% if (details !== ""){ %>
                <div class="ticketpage">
                    <div class="container-fluid">
                        <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;border-bottom: 3px solid;">

                            <h3>
                                <span class="bus"><%=chosendata.companyname %></span>
                            </h3>
                            <div class="col-xs-4">
                                <h4>From</h4>
                                <p>
                                    <span class="initial"><%=details.d_from %></span>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <h4 class="price">GH₵ <%=chosendata.amount %></h4>
                                <h4 class="glyphicon glyphicon-arrow-right"></h4>
                                <h4 class="duration"><%=details.journeyhrs %></h4>
                            </div>
                            <div class="col-xs-4">
                                <h4>To</h4>
                                <p>
                                    <span class="final"><%=details.d_to %></span>
                                </p>
                            </div>
                        </div>
                        <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;border-bottom: 3px solid;">
                            <div class="col-xs-4">
                                <h4>Departure</h4>
                                <p>
                                    <span class="departure"><%=chosendata.departdate %></span>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <h3 class="glyphicon glyphicon-calendar"></h3>
                            </div>
                            <div class="col-xs-4">
                                <h4>Time</h4>
                                <p>
                                    <span class="time"><%=chosendata.departtime %></span>
                                </p>
                            </div>
                        </div>
                        <div class="row text-center" style="box-shadow: 0px 0px 7px #D3D3D3;border-radius: 15px;">
                            <h3>Details</h3>
                            <div class="col-xs-6">
                                <h4 class="busnumber">Bus No.</h4>
                                <h4 class="location">Location</h4>
                                <h4 class="seatnumber">Seat</h4>
                            </div>
                            <div class="col-xs-6">
                                <h4>GT 4545 18</h4>
                                <h4>Neoplan station</h4>
                                <h4>30</h4>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg text-center">
                                <a class="btn btn-primary btn-block" href="/pay">Proceed</a>
                            </div>
                        </div>
                    </div>  
                </div>
                <% }else { %>
                    <h2 style="color: red;">Ticket not available</h2>
                <% }%>            
            </div>        
        </div>
    </body>
</html>